[submodule "cxx/thirdparts/librdkafka"]
	path = cxx/thirdparts/librdkafka
	url = https://github.com/edenhill/librdkafka.git
	branch = 1.4.x
[submodule "cxx/thirdparts/log4cplus"]
	path = cxx/thirdparts/log4cplus
	url = https://github.com/log4cplus/log4cplus.git
	branch = 1.2.x
[submodule "cxx/thirdparts/pulsar"]
	path = cxx/thirdparts/pulsar
	url = https://github.com/apache/pulsar.git
	branch = branch-2.6
